In [70]:
import pandas as pd

In [71]:
stats = pd.read_csv("player_mvp_stats.csv", index_col=0)

In [72]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [73]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [74]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]].head()

             Player  3PA
2    Elden Campbell  0.0
3     Irving Thomas  0.0
18       Jack Haley  0.0
20      Keith Owens  0.0
30  Benoit Benjamin  0.0

In [76]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]].head()

              Player  FTA
77        John Coker  0.0
92      Jason Sasser  0.0
103  Adrian Caldwell  0.0
119     Bruno Šundov  0.0
158   Jamal Robinson  0.0

In [77]:
stats = stats.fillna(0)

In [78]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [79]:
predictors = ["Age", "G", "GS", "MP", "FG", "FGA", 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'W', 'L', 'W/L%',
       'GB', 'PS/G', 'PA/G', 'SRS']

In [80]:
train = stats[~(stats["Year"] == 2021)]
test = stats[stats["Year"] == 2021]

In [98]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.3)

In [99]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.3)

In [100]:
predictions = reg.predict(test[predictors])
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [101]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [102]:
combination.sort_values("Share", ascending=False).head(20)

                      Player  Share  predictions
641             Nikola Jokić  0.961     0.155096
8624             Joel Embiid  0.580     0.163566
3651           Stephen Curry  0.449     0.143014
9907   Giannis Antetokounmpo  0.345     0.206531
1389              Chris Paul  0.138     0.073973
10997            Luka Dončić  0.042     0.150578
7464          Damian Lillard  0.038     0.117028
3536           Julius Randle  0.020     0.089546
3531            Derrick Rose  0.010     0.035506
11358            Rudy Gobert  0.008     0.095399
3876       Russell Westbrook  0.005     0.120075
8616             Ben Simmons  0.003     0.064762
4174            James Harden  0.001     0.140152
5328           Kawhi Leonard  0.001     0.114419
3736            LeBron James  0.001     0.147754
9909             Jeff Teague  0.000    -0.007558
10672        Jalen McDaniels  0.000    -0.010633
10671           Grant Riller  0.000    -0.004752
10670         Gordon Hayward  0.000     0.042133
10669        Devonte' Graham  0.000     0.015590

In [103]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.002669615592351053

In [104]:
combination["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.042      1
0.038      1
0.020      1
0.003      1
0.008      1
0.005      1
0.580      1
0.449      1
0.010      1
0.345      1
Name: Share, dtype: int64

In [105]:
actual = combination.sort_values("Share", ascending=False)
predicted = combination.sort_values("predictions", ascending=False)
actual["Rk"] = list(range(1,actual.shape[0]+1))
predicted["Predicted_Rk"] = list(range(1,predicted.shape[0]+1))

In [106]:
actual.merge(predicted, on="Player").head(5)

,Player,Share_x,predictions_x,Rk,Share_y,predictions_y,Predicted_Rk
0,Nikola Jokić,0.961,0.155096,1,0.961,0.155096,3
1,Joel Embiid,0.580,0.163566,2,0.580,0.163566,2
2,Stephen Curry,0.449,0.143014,3,0.449,0.143014,6
3,Giannis Antetokounmpo,0.345,0.206531,4,0.345,0.206531,1
4,Chris Paul,0.138,0.073973,5,0.138,0.073973,33

In [90]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found / seen)
        seen += 1

    return sum(ps) / len(ps)

In [91]:
ap = find_ap(combination)

In [92]:
ap

0.7636363636363636

In [93]:
years = list(range(1991,2022))

In [94]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors],train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [95]:
sum(aps)/len(aps)

0.7113393531244667

In [96]:
def add_ranks(predictions):
    predictions = predictions.sort_values("predictions", ascending=False)
    predictions["Predicted_Rk"] = list(range(1,predictions.shape[0]+1))
    predictions = predictions.sort_values("Share", ascending=False)
    predictions["Rk"] = list(range(1,predictions.shape[0]+1))
    predictions["Diff"] = (predictions["Rk"] - predictions["Predicted_Rk"])
    return predictions

In [97]:
add_ranks(all_predictions[1])

               Player  Share  predictions  Predicted_Rk   Rk  Diff
1600      Karl Malone  0.857     0.192140             2    1    -1
10524  Michael Jordan  0.832     0.167640             3    2    -1
908        Grant Hill  0.327     0.128720             6    3    -3
4682     Tim Hardaway  0.207     0.060349            20    4   -16
8248        Glen Rice  0.117     0.033417            53    5   -48
...               ...    ...          ...           ...  ...   ...
3576    Ennis Whatley  0.000     0.010313           156  437   281
12542  George McCloud  0.000     0.010324           155  438   283
12537     Byron Scott  0.000     0.010495           154  439   285
1138   Aaron Williams  0.000     0.010676           153  440   287
6792    Melvin Booker  0.000    -0.055261           441  441     0

[441 rows x 6 columns]

In [107]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [108]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [109]:
mean_ap

0.7113393531244667

In [110]:
all_predictions[all_predictions["Rk"] < 5].sort_values("Diff").head(10)

                Player  Share  predictions  Predicted_Rk  Rk  Diff
1224        Jason Kidd  0.712     0.028389            52   2   -50
5175        Steve Nash  0.839     0.032704            47   1   -46
8516   Peja Stojaković  0.228     0.036590            38   4   -34
5193        Steve Nash  0.739     0.051578            34   1   -33
12726      Joakim Noah  0.258     0.047312            37   4   -33
5208        Steve Nash  0.785     0.070940            23   2   -21
4682      Tim Hardaway  0.207     0.060587            20   4   -16
937      Allen Iverson  0.270     0.072010            14   4   -10
6746       Kobe Bryant  0.291     0.077944            14   4   -10
1157       Gary Payton  0.372     0.076744            12   3    -9

In [111]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.057397  eFG%
18  0.033896   DRB
28  0.026053  W/L%
17  0.021278   ORB
10  0.015863    2P
21  0.012039   STL
15  0.011504   FTA
22  0.011186   BLK
20  0.007421   AST
25  0.006126   PTS
4   0.006008    FG
5   0.005306   FGA
7   0.004770    3P
12  0.001187   2P%
0   0.000362   Age
29  0.000314    GB
26  0.000128     W
1   0.000096     G
2  -0.000005    GS
27 -0.000321     L
31 -0.000332  PA/G
30 -0.000493  PS/G
32 -0.000607   SRS
24 -0.002397    PF
3  -0.004157    MP
16 -0.004200   FT%
14 -0.006952    FT
9  -0.009264   3P%
23 -0.009437   TOV
8  -0.010686   3PA
11 -0.016946   2PA
19 -0.026793   TRB
6  -0.120259   FG%

In [112]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [113]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [114]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [115]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [116]:
mean_ap

0.7188663114279148

In [117]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [206]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=4)

mean_ap, aps, all_predictions = backtest(stats, rf, years[25:], predictors + ["NPos", "NTm"])

In [207]:
mean_ap

0.7778120136943666

In [208]:
all_predictions

                        Player  Share  predictions  Predicted_Rk   Rk  Diff
5562             Stephen Curry  1.000     0.795607             1    1     0
6253             Kawhi Leonard  0.484     0.031939            14    2   -12
12896             LeBron James  0.482     0.297876             3    3     0
6340         Russell Westbrook  0.371     0.282859             4    4     0
6334              Kevin Durant  0.112     0.496777             2    5     3
...                        ...    ...          ...           ...  ...   ...
12930  Michael Carter-Williams  0.000     0.000000           183  536   353
12931                 Mo Bamba  0.000     0.000000           182  537   355
12932            Moritz Wagner  0.000     0.000000           181  538   357
12933          Otto Porter Jr.  0.000     0.000000           180  539   359
13901               Trey Lyles  0.000     0.000000           540  540     0

[3101 rows x 6 columns]

In [179]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [180]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year].copy()
        test = stats[stats["Year"] == year].copy()
        sc.fit(train[predictors])
        train[predictors] = sc.transform(train[predictors])
        test[predictors] = sc.transform(test[predictors])
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [204]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[25:], predictors)

In [205]:
all_predictions

                  Player  Share  predictions  Predicted_Rk   Rk  Diff
5562       Stephen Curry  1.000     0.182840             1    1     0
6253       Kawhi Leonard  0.484     0.108710            10    2    -8
12896       LeBron James  0.482     0.157255             3    3     0
6340   Russell Westbrook  0.371     0.132637             6    4    -2
6334        Kevin Durant  0.112     0.161326             2    5     3
...                  ...    ...          ...           ...  ...   ...
3732        Jared Dudley  0.000     0.007178           184  536   352
4175          Jeff Green  0.000     0.007269           183  537   354
6098     Nemanja Bjelica  0.000     0.007365           182  538   356
9910        Jordan Nwora  0.000     0.007435           181  539   358
11768       Didi Louzada  0.000    -0.067311           540  540     0

[3101 rows x 6 columns]